:root {
  box-sizing: border-box;
  --color-navy: #222B56;
  --color-blue: #0B4683;
  --color-teal: #1A9695;
  --color-gold: #D69510;
  --color-yellow: #F2D676;
  --color-red: red;
  --color-green: green;
  --fs-h1: 2.5em;
  --fs-main: 1.25em;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas: "header header"
  "projects content";
  grid-template-rows: 1fr 9fr;
  grid-template-columns: 2fr 8fr;
  font-family: 'Roboto', sans-serif;
}

h1 {
  grid-area: header;
  background-color: var(--color-navy);
  color: white;
  margin: 0;
  font-size: var(--fs-h1);
  border-bottom: 1px solid var(--color-gold);
}

h1,
.project-item,
.todo-item .main,
.todo-item .expand {
  padding: .5em;
}

#actions-list {
  background-color: var(--color-navy);
  color: white;
  position: fixed;
  padding: 1em;
  border: 1px solid var(--color-gold);
  visibility: hidden;
}

#actions-list #complete:hover,
#actions-list #edit:hover,
#actions-list #delete:hover {
  color: var(--color-gold);
}

#actions-list.active {
  visibility: visible;
}

.project-item,
.todo-item .main,
button {
  color: var(--color-navy);
  font-size: var(--fs-main);
}

#projects-container {
  grid-area: projects;
  overflow: scroll;
}

.project-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-navy);
  color: white;
}

.project-item.active {
  background-color: var(--color-gold);
}

#content {
  grid-area: content;
  border-left: 1px solid var(--color-gold);
  overflow: scroll;
}

.todo-item,
.project-item {
  border-top: 1px solid var(--color-gold);
}

.todo-item .expand {
  display: none;
}

.todo-item .expand.active {
  display: block;
}

.todo-item .main {
  display: grid;
  grid-template-columns: 5% 45% 45% 5%;
  align-items: center;
  background-color: var(--color-navy);
  color: white;
}

.todo-item p {
  margin: 0;
}

.todo-item .caret {
  justify-self: start;
}

.todo-item .due-date.high {
  color: var(--color-red);
}

.todo-item .due-date.medium {
  color: var(--color-gold);
}

.todo-item .due-date.low {
  color: var(--color-green);
}


.todo-item .due-date {
  justify-self: center;
}

.todo-item .actions {
  justify-self: end;
}

.expand .checklist ul {
}

.expand .checklist li {
  list-style: none;
}

.expand .submit,
.add-new button {
  border: none;
  background-color: var(--color-navy);
  color: white;
  margin-left: 1em;
  padding: .5em;
}

input[type=checkbox]:checked + label {
  text-decoration: line-through;
}

button {
  outline: none;
  border: none;
  background-color: inherit;
  color: inherit;
}

button.add {
  background-color: var(--color-teal);
  position: fixed;
  bottom: .5em;
  left: .5em;
  color: white;
  font-size: var(--fs-h1);
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#create-new-item,
#new-project-container,
#new-todo-container {
  position: fixed;
  background-color: var(--color-yellow);
  padding: 1em;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-gold);
  visibility: hidden;
}

#create-new-item .add-new {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#create-new-item.active,
#new-project-container.active,
#new-todo-container.active {
  visibility: visible;
}

#create-new-item .close,
#new-project-container .close,
#new-todo-container .close {
  align-self: flex-end;
}

form#new-project {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

form#new-todo {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

form#new-todo div,
form#new-project .new-title {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
  padding: .5em;
}

form#new-todo div input,
form#new-project .new-title input {
  justify-self: start;
}

.submit-button {
  justify-self: center;
  align-self: center;
}

.submit-button input {
  border: none;
  background-color: var(--color-navy);
  color: white;
  padding: .5em;
}

.expand .submit:hover,
.submit-button input:hover,
.add-new button:hover {
  background-color: var(--color-gold);
}

button:hover,
.todo-item .main .due-date:hover,
input[type=checkbox]:hover,
#actions-list:hover,
.expand .submit:hover,
.submit-button input:hover {
  cursor: pointer;
}